
.ipynb_checkpoints/Chapter01_BeginningToScrape-checkpoint.ipynb
.ipynb_checkpoints/Chapter02-AdvancedHTMLParsing-checkpoint.ipynb
.ipynb_checkpoints/Chapter03-web-crawlers-checkpoint.ipynb
Hao Test/.ipynb_checkpoints/scrap_zol-checkpoint.ipynb
